<ion-header>
  <ion-toolbar>
    <ion-title>
      Instruction
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list inset  *ngFor="let item of items">
   <ion-item text-wrap>
    {{ item }}
  </ion-item>
  </ion-list>
</ion-content>
