<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

	<div style="background-image:url('assets/img/bg1.jpg');
    width: 100%;
    height: 120px;
    padding: 15px;;" align="center">
		 <br />
		 <br />
				<img width="120" height="120" src="assets/img/icon2.png"/>
	</div>
	
<ion-card>

  <ion-card-header style="text-align: center; margin-top: 30px;">
    <b>Malay Traditional Kuih Apps</b>
  </ion-card-header>

  <ion-card-content>
  	<b>Team Members</b><br />
    • Siti Syamimi Sarah binti Azhar <br />(14DUP15F1029)<br />
    • Zulaizah binti Melan <br />(14DUP15F1025)<br />
	• Muhammad Khuzaimy bin Rahmat <br />(14DUP14F2055)<br /><br />

	<b>Supervisor</b><br />
	Puan Siti Aishah binti Abd Kadir<br /><br />

	<b>Special Thanks</b><br />
	Jabatan Pelancongan dan Hospitaliti <br />
	Politeknik Merlimau Melaka
  </ion-card-content>

</ion-card>

</ion-content>
