<ion-tabs style="color: #f39c12">
  <ion-tab [root]="tab1Root" tabTitle="Kuih" tabIcon="ios-basket"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About Us" tabIcon="ios-information-circle-outline"></ion-tab>
</ion-tabs>
