<ion-header>
  <ion-navbar>
    <ion-title>Kuih</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card (click)="goDetail(1)">
    <img src="assets/img/kuih1.jpg"/>
    <div class="card-title">Agar agar kering</div>
  </ion-card>

  <ion-card  (click)="goDetail(2)">
    <img src="assets/img/kuih2.jpg"/>
    <div class="card-title">Halwa Maskat</div>
  </ion-card>

  <ion-card (click)="goDetail(3)">
    <img src="assets/img/kuih3.jpg"/>
    <div class="card-title">Kuih Dangai</div>
  </ion-card>

  <ion-card (click)="goDetail(4)">
    <img src="assets/img/kuih4.jpg"/>
    <div class="card-title">Kuih Tok Aji Serban </div>
  </ion-card>

  <ion-card (click)="goDetail(5)">
    <img src="assets/img/kuih5.jpg"/>
    <div class="card-title">Kuih Lepat Pisang</div>
  </ion-card>

  <ion-card (click)="goDetail(6)">
    <img src="assets/img/kuih6.jpg"/>
    <div class="card-title">Kuih Lompat Tikam </div>
  </ion-card>

  <ion-card (click)="goDetail(7)">
    <img src="assets/img/kuih7.jpg"/>
    <div class="card-title">Kuih Buah Tanjung</div>
  </ion-card>

  <ion-card (click)="goDetail(8)">
    <img src="assets/img/kuih8.jpg"/>
    <div class="card-title">Kuih Lapis </div>
  </ion-card>

  <ion-card (click)="goDetail(9)">
    <img src="assets/img/kuih9.JPG"/>
    <div class="card-title">Mas Sejemput </div>
  </ion-card>

  <ion-card (click)="goDetail(10)">
    <img src="assets/img/kuih10.jpg"/>
    <div class="card-title">Puteri Mandi</div>
  </ion-card>

  <ion-card (click)="goDetail(11)">
    <img src="assets/img/kuih11.jpg"/>
    <div class="card-title">Kuih Ocong-Ocong</div>
  </ion-card>

  <ion-card (click)="goDetail(12)">
    <img src="assets/img/kuih12.jpg"/>
    <div class="card-title">Kuih Qasidah</div>
  </ion-card>

  <ion-card (click)="goDetail(13)">
    <img src="assets/img/kuih13.jpg"/>
    <div class="card-title">Kuih Serabai </div>
  </ion-card>

  <ion-card (click)="goDetail(14)">
    <img src="assets/img/kuih14.jpg"/>
    <div class="card-title">Slemang</div>
  </ion-card>

  <ion-card (click)="goDetail(15)">
    <img src="assets/img/kuih15.jpg"/>
    <div class="card-title">Tahi Itik</div>
  </ion-card>

  <ion-card (click)="goDetail(16)">
    <img src="assets/img/kuih16.jpg"/>
    <div class="card-title">Kuih Tepung Pasung</div>
  </ion-card>

  <ion-card (click)="goDetail(17)">
    <img src="assets/img/kuih17.jpg"/>
    <div class="card-title">Kuih Puli Ubi Kayu</div>
  </ion-card>

  <ion-card (click)="goDetail(18)">
    <img src="assets/img/kuih18.jpg"/>
    <div class="card-title">Kuih Penyaram </div>
  </ion-card>

  <ion-card (click)="goDetail(19)">
    <img src="assets/img/kuih19.JPG"/>
    <div class="card-title">Kuih Getas</div>
  </ion-card>

  <ion-card (click)="goDetail(20)">
    <img src="assets/img/kuih20.jpg"/>
    <div class="card-title">Kuih Kole Kacang</div>
  </ion-card>

  <ion-card (click)="goDetail(21)">
    <img src="assets/img/kuih21.jpg"/>
    <div class="card-title">Kuih Bahulu</div>
  </ion-card>

  <ion-card (click)="goDetail(22)">
    <img src="assets/img/kuih22.jpg"/>
    <div class="card-title">Kuih Bangkit </div>
  </ion-card>

  <ion-card (click)="goDetail(23)">
    <img src="assets/img/kuih23.jpg"/>
    <div class="card-title">Kuih Denderam</div>
  </ion-card>

  <ion-card (click)="goDetail(24)">
    <img src="assets/img/kuih24.jpg"/>
    <div class="card-title">Kuih Koci</div>
  </ion-card>

  <ion-card (click)="goDetail(25)">
    <img src="assets/img/kuih25.jpg"/>
    <div class="card-title">Kuih Ros</div>
  </ion-card>

  <ion-card (click)="goDetail(26)">
    <img src="assets/img/kuih26.JPG"/>
    <div class="card-title">Kuih Keria</div>
  </ion-card>

  <ion-card (click)="goDetail(27)">
    <img src="assets/img/kuih27.jpg"/>
    <div class="card-title">Kuih Seri Muka</div>
  </ion-card>

  <ion-card (click)="goDetail(28)">
    <img src="assets/img/kuih28.JPG"/>
    <div class="card-title">Kuih Ketayap</div>
  </ion-card>

  <ion-card (click)="goDetail(29)">
    <img src="assets/img/kuih29.jpg"/>
    <div class="card-title">Kuih Bakar</div>
  </ion-card> 

  <ion-card (click)="goDetail(30)">
    <img src="assets/img/kuih30.jpeg"/>
    <div class="card-title">Kuih Puteri Ayu</div>
  </ion-card>

  <ion-card (click)="goDetail(31)">
    <img src="assets/img/kuih31.jpg"/>
    <div class="card-title">Nona Manis</div>
  </ion-card>

  <ion-card (click)="goDetail(32)">
    <img src="assets/img/kuih32.jpg"/>
    <div class="card-title">Kuih Ondeh-Ondeh</div>
  </ion-card>

  <ion-card (click)="goDetail(33)">
    <img src="assets/img/kuih33.jpg"/>
    <div class="card-title">Kuih Tepung Pelita</div>
  </ion-card>

  <ion-card (click)="goDetail(34)">
    <img src="assets/img/kuih34.jpg"/>
    <div class="card-title">Kuih Kaswi</div>
  </ion-card>

  <ion-card (click)="goDetail(35)">
    <img src="assets/img/kuih35.jpg"/>
    <div class="card-title">Kuih Cara Berlauk</div>
  </ion-card>

  <ion-card (click)="goDetail(36)">
    <img src="assets/img/kuih36.JPG"/>
    <div class="card-title">Kuih Cara Manis</div>
  </ion-card>

  <ion-card (click)="goDetail(37)">
    <img src="assets/img/kuih37.jpg"/>
    <div class="card-title">Apam Hitam Manis</div>
  </ion-card>

  <ion-card (click)="goDetail(38)">
    <img src="assets/img/kuih38.JPG"/>
    <div class="card-title">Kuih Bom</div>
  </ion-card>

  <ion-card (click)="goDetail(39)">
    <img src="assets/img/kuih39.jpg"/>
    <div class="card-title">Kuih Lopes</div>
  </ion-card>

  <ion-card (click)="goDetail(40)">
    <img src="assets/img/kuih40.jpg"/>
    <div class="card-title">Kuih Cek Mek Molek</div>
  </ion-card>

</ion-content>