<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding style="background: #f39c12; color: white">
  <ion-slides pager style="height: 90%;">
    <ion-slide>

      <img src="assets/img/iconKuih1.jpg" style="width: 140px" />
      <h3 class="slide-title">Malay Traditional <br /> Kuih Apps</h3>
      <p style="text-align: justify;">
      	Kuih are snacks or desserts commonly found in Malaysia. Kuih is a relatively broad term that can include things to be called cakes, cookies, pudding, biscuits or pastries and usually they are made of flour. Steamed more often than steamed and therefore very different in terms of texture, taste and appearance. Malaysia is well-known for its diversity of cultures, religions and cultures. These are the contributors to the development of racial nutrition in Malaysia. 
      </p>
    </ion-slide>
   
           <ion-slide>

      <img src="assets/img/iconKuih3.jpg" style="width: 140px" />
      <p style="text-align: justify;">
      Malay Traditional Kuih is known as cakes and snacks that are passed down from one generation to the next generation among the Malays. In fact, it is distinguished through several qualitative aspects through the discovery of something hidden and certain cultural identity. Some Malays also maintain local ingredients, tools that are involved with local knowledge and skills.
      </p>
    </ion-slide>
       <ion-slide>

      <img src="assets/img/iconKuih4.jpg" style="width: 140px" />
      <p style="text-align: justify;">
      In addition, new generation should appreciate Malay Traditional Kuih because it cannot be compared to any modern biscuit. In today's world, most new generations make kuih using machines because it is faster than using hands, but by hand, it can create a delicious taste in the kuih. Using traditional methods it can maintain sense and colour even though this traditional way will feel tired and tired but can produce well.
      </p>
    </ion-slide>

       <ion-slide>

      <img src="assets/img/iconKuih5.jpg" style="width: 140px" />
      <p style="text-align: justify;">
      Therefore, food plays an important role in fostering a close relationship among races in Malaysia. Exposure to food from various races in Malaysia needs to be studied so that Malaysian people are aware of food and do not forget the traditional kuih found in Malaysia.
      </p>
    </ion-slide>



  </ion-slides>
<div align="center">
	<button ion-button round style="width: 90%; background: white; color: #f39c12;" (click)="goMain()">Skip</button>
</div>

</ion-content>
