<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card>
  <img src={{image}}>
  <ion-item style="margin-bottom: -10px;">
  <div align="center">
  	    <h1><b>{{name}}</b></h1>
  </div>
  </ion-item>
    <p style="text-align: justify; margin:8px;">
    {{detail}}	
    </p>
  <ion-item>
    <span item-left (click)="goIngredient(id)">
    	    <button ion-button icon-left clear item-end style="color: #f39c12">
      <ion-icon name="ios-menu"></ion-icon>
      <b>Ingredients</b>
    </button>
    </span>
    <button ion-button icon-left clear item-end style="color: #f39c12" (click)="goInstruction(id)">
      <ion-icon name="md-clipboard"></ion-icon>
      <b>Instructions</b>
    </button>
  </ion-item>

</ion-card>
</ion-content>
